[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-login = "*"
flask-pymongo = "*"
pusher = "*"
recastai = "*"

[dev-packages]

[requires]
python_version = "3.7"
